@font-face {
  font-family: "NunitoRegular";   /*Can be any text*/
  src: local("Nunito"),
    url("./fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoBlack";
  src: local("Nunito"),
    url("./fonts/Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoBold";
  src: local("Nunito"),
    url("./fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoLight";
  src: local("Nunito"),
    url("./fonts/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoMedium";
  src: local("Nunito"),
    url("./fonts/Nunito-Medium.ttf") format("truetype");
}

.App {
  text-align: center;
  background-color: black;
  font-family: "NunitoBold";

  height: 600px;
  width: 1024px;

  display: flex;
  justify-content: center;
}

.Logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100px;

}
.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Video {
  background-color: black;
  width: 600px;
}

.Gif {
  width: 600px;
  height: 600px;
}

.Panel {
  position: absolute;
  background-color: blue;
  width: 424px;
  display: none;
}

.Buttons {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: #1B1C27;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 75px;
  box-shadow: 0px 0px 25px #1B1C27;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
